{% extends 'base.html.twig' %}

{% block title %}LSF - Accueil{% endblock %}

{% block body %}


    <div class="relative">
         
<div id="carouselExampleCaptions" class="carousel slide relative" data-bs-ride="carousel">
  <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner relative w-full overflow-hidden">
    <div class="carousel-item active relative float-left w-full">
      <img
        src="{{ asset('img/front.png') }}"
        class="block w-full"
        alt="..."
      />
      <div class="carousel-caption hidden md:block absolute text-center">
        <h5 class="text-xl">First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item relative float-left w-full">
      <img
        src="{{ asset('img/front.png') }}"
        class="block w-full"
        alt="..."
      />
      <div class="carousel-caption hidden md:block absolute text-center">
        <h5 class="text-xl">Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item relative float-left w-full">
      <img
        src="{{ asset('img/front.png') }}"
        class="block w-full"
        alt="..."
      />
      <div class="carousel-caption hidden md:block absolute text-center">
        <h5 class="text-xl">Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
           
    </div>

    <div class="bg-stone-800 pt-12 flex flex-row justify-center items-center ">
        <video controls class="rounded  pb-12 px-6 pt-0 lg:w-3/4 w-full" poster="{{ asset('img/video2.PNG') }}">
            <source  src="{{ asset('media/videoFront.mp4') }}" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
        </video>
    </div>





    <!-- Nos produits -->

    <div class=" h-auto   ">
        <div class="text-center max-w-xl mx-auto pt-12">
            <h1 class="text-6xl md:text-7xl font-bold mb-5 text-stone-800">Nos fromages</h1>
            <h3 class="text-xl mb-5 font-light text-stone-800">Découvez nos produits parmis notre liste de plus de 200 fromages </h3>
            <div class="text-center mb-10">
                <span class="inline-block w-1 h-1 rounded-full bg-stone-800 ml-1"></span>
                <span class="inline-block w-3 h-1 rounded-full bg-stone-800 ml-1"></span>
                <span class="inline-block w-40 h-1 rounded-full bg-stone-800"></span>
                <span class="inline-block w-3 h-1 rounded-full bg-stone-800 ml-1"></span>
                <span class="inline-block w-1 h-1 rounded-full bg-stone-800 ml-1"></span>
            </div>
        </div>



        <!-- CARD -->

        <div class="flex flex-wrap  justify-center ">
            {% for fromage in fromages %}

            <div class="p-2">
                <a href="{{ path('app_fromages') }}">
                <div class="max-w-sm rounded  shadow-lg bg-stone-800">

                    <img class="w-full" src="{{ asset('uploads/fromages/') }}{{ fromage.image }}" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-white text-xl mb-2 underline">{{ fromage.nom }}</div>
                        <p class="text-white text-base">
                            {{ fromage.description|slice(0, 35) }}
                        </p>
                    </div>
                    <div class="px-6 pt-4 pb-2 ">
                        {% if "Vache" in fromage.lait %}
                            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Vache</span>
                        {% endif %}
                        {% if "Chevre" in fromage.lait %}
                            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Chèvre</span>
                        {% endif %}
                        {% if "Brebis" in fromage.lait %}
                            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Brebis</span>
                        {% endif %}
                        <br>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ fromage.pate }}</span>
                    </div>
                </div>
                </a>
            </div>

            {% endfor %}
        </div>
        <div class="w-auto text-white flex justify-center pb-12 pt-12">
            <a href="{{ path('app_fromages') }}">
                <button type="submit" class=" bg-green-700 hover:bg-green-800 text-white font-bold  py-4 px-4 border border-stone-500 hover:border-transparent rounded ">DECOUVREZ TOUS NOS PRODUITS</button>
            </a>
        </div>


        <div class=" h-auto bg-stone-800">
            <div class="text-center max-w-xl mx-auto pt-12">
                <h1 class="text-6xl md:text-7xl font-bold mb-5 text-white">Nos magasins</h1>
                <h3 class="text-xl mb-5 font-light text-white">Retrouvez Les saveurs Fromagères à Bergues, rue Lamartine ou bien à Malo, avenue Faidherbe.</h3>
                <div class="text-center mb-10">
                    <span class="inline-block w-1 h-1 rounded-full bg-white ml-1"></span>
                    <span class="inline-block w-3 h-1 rounded-full bg-white ml-1"></span>
                    <span class="inline-block w-40 h-1 rounded-full bg-white"></span>
                    <span class="inline-block w-3 h-1 rounded-full bg-white ml-1"></span>
                    <span class="inline-block w-1 h-1 rounded-full bg-white ml-1"></span>
                </div>
            </div>

            <div class="w-full grid 2xl:grid-cols-2 grid-cols-1 justify-items-center">
        

                {{ include('components/frontShopBergues.html.twig') }}


                {{ include('components/frontShopMalo.html.twig') }}
        
            </div>
            <div class="w-auto text-white flex justify-center pb-12 pt-12  ">
                <a href="{{ path('app_contact') }}">
                    <button type="submit" class=" bg-green-700  hover:bg-green-800 text-white font-bold  py-4 px-8 border border-stone-500 hover:border-transparent rounded ">NOUS CONTACTER</button>
                </a>
            </div>

        </div>

    </div>

    <div class="pb-12 ">
    {{ include('components/frontReview.html.twig') }}
    </div>


{% endblock %}